<a href="#" (click)="app.onTopbarItemClick($event,'notifications')"> 
    <i class="topbar-icon material-icons">message</i>
    <span class="topbar-badge animated rubberBand">4</span>
    <span class="topbar-item-name">Notifications</span>
</a>
<ul class="ultima-menu animated fadeInDown">
    <li role="menuitem">
        <a href="#">
            <i class="material-icons">bug_report</i>
            <span>Pending tasks</span>
        </a>
    </li>
    <li role="menuitem">
        <a href="#">
            <i class="material-icons">event</i>
            <span>Meeting today at 3pm</span>
        </a>
    </li>
    <li role="menuitem">
        <a href="#">
            <i class="material-icons">file_download</i>
            <span>Download documents</span>
        </a>
    </li>
    <li role="menuitem">
        <a href="#">
            <i class="material-icons">flight</i>
            <span>Book flight</span>
        </a>
    </li>
</ul>