<form novalidate *ngIf="formBuilt && inputBuilderDefinition && inputBuilderDefinition.inputDetails"
[class.noPadding]="inputBuilderDefinition.inputLocation === 'inline'"
[class.form-group]="inputBuilderDefinition.inputLocation !== 'inline'"

class="ui-g" (ngSubmit)="onSubmit(form)"
    [formGroup]="form">
    <div [className]="controlStyle" [class.noPadding]="inputBuilderDefinition.inputLocation === 'inline'"
      *ngFor="let input of inputBuilderDefinition.inputDetails">

        <div [ngSwitch]="input.type" [className]="getContainerClass(input)">

            <!-- null === Blank -->
            <span *ngSwitchCase="'null'" class="md-inputfield">
            </span>

            <!-- textbox -->
            <span *ngSwitchCase="'textbox'" class="md-inputfield">
                <input class="textInput" *ngIf="!input.mask" type="text" [formControlName]="input.name" [id]="input.name" pInputText>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- email -->
            <span *ngSwitchCase="'email'" class="md-inputfield">
                <input class="textInput" *ngIf="!input.mask" type="email" [formControlName]="input.name" [id]="input.name" pInputText>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- keyfilter/number -->
            <span *ngSwitchCase="'number'" class="md-inputfield">
                <input class="textInput" type="text" [formControlName]="input.name" [id]="input.name" pKeyFilter="num"  pInputText>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- slider -->
            <span *ngSwitchCase="'slider'" class="md-inputfield">
                <p-slider [formControlName]="input.name" [id]="input.name" [min]="input.min" [max]="input.max" [step]="input.step" ></p-slider>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- Mask -->
            <span *ngSwitchCase="'mask'">
                <p-inputMask [mask]="input.mask" [id]="input.name" [formControl]="form.controls[input.name]"></p-inputMask>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- Spinner -->
            <span *ngSwitchCase="'spinner'">
                <p-spinner [id]="input.name" [formControl]="form.controls[input.name]"></p-spinner>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- TextArea -->
            <span *ngSwitchCase="'textarea'" class="md-inputfield">
                <textarea class="textInput" [rows]="input.rows" [placeholder]="input.label" pInputTextarea [formControlName]="input.name" autoResize="false"></textarea>
            </span>

            <!-- Checkbox -->
            <span *ngSwitchCase="'checkbox'">
                <p-checkbox binary="true" [label]="input.label" [id]="input.name" [formControl]="form.controls[input.name]">
                </p-checkbox>
            </span>

            <!--  [filter]="input.selectFilter"
                [filterBy]="input.selectFilterBy"
                    [filterPlaceholder]="input.selectFilterPlaceholder" -->

            <!-- Simple DropDown -->
            <span *ngSwitchCase="'dropdown'">
                <label class="small-label" [for]="input.name">{{getLabel(input)}}</label>
                <p-dropdown appendTo="body" class="dropdownInput" [id]="input.name" [options]="input.datasourceItems" [autoWidth]="false" [filter]="input.selectFilter" dataKey="value"
                    optionLabel="display" [formControlName]="input.name"></p-dropdown>
            </span>

            <!-- DropDown Returns Object -->
            <span *ngSwitchCase="'dropdownobject'">
              <label class="small-label" [for]="input.name">{{getLabel(input)}}</label>
              <p-dropdown appendTo="body" class="dropdownInput" [id]="input.name" [options]="input.datasourceItems" [autoWidth]="false" [filter]="input.selectFilter"
                  optionLabel="display" [formControlName]="input.name"></p-dropdown>
            </span>

            <!-- Chips -->
            <span *ngSwitchCase="'chips'" class="md-inputfield">
                <p-chips [id]="input.name" [placeholder]="input.label" [formControlName]="input.name"></p-chips>
            </span>

            <!-- multiselect -->
            <span *ngSwitchCase="'multiselect'" class="md-inputfield">
              <label class="small-label" [for]="input.name">{{getLabel(input)}}</label>
                <p-multiSelect [id]="input.name" class="multi-select"
                  [formControlName]="input.name"
                  appendTo="body" optionLabel="display" dataKey="value"
                  [options]="input.datasourceItems"></p-multiSelect>
            </span>

            <!-- InputSwitch -->
            <span *ngSwitchCase="'switch'">
                <p-inputSwitch [id]="input.name" [formControlName]="input.name">
                </p-inputSwitch>
                <label class="switch-label">{{getLabel(input)}}</label>
            </span>

            <!-- DateTime -->
            <span *ngSwitchCase="'datetime'" class="md-inputfield">
                <p-calendar
                  appendTo="body"
                  [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [dateFormat]="appSettings.getString('inputDateFormat') | async" showTime="true"
                  [formControlName]="input.name" [id]="input.name">
                </p-calendar>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- Date -->
            <span *ngSwitchCase="'date'" class="md-inputfield">
                <p-calendar appendTo="body"
                 [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [dateFormat]="appSettings.getString('inputDateFormat') | async" [formControlName]="input.name"
                    [id]="input.name">
                </p-calendar>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- Time -->
            <span *ngSwitchCase="'time'" class="md-inputfield">
                <p-calendar  appendTo="body" timeOnly="true" showTime="true" [showIcon]="appSettings.getBoolean('inputShowCalendarIcon') | async" [formControlName]="input.name"
                    [id]="input.name">
                </p-calendar>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- JSon Edit -->
            <span *ngSwitchCase="'json'" class="md-inputfield">
                <json-editor [options]="editorOptions" [data]="input.value"></json-editor>
                <label>{{getLabel(input)}}</label>
            </span>

            <!-- DEFUALT textbox -->
            <span *ngSwitchDefault class="md-inputfield">
                <input type="text" [formControlName]="input.name" [id]="input.name" pInputText>
                <label>{{getLabel(input)}}</label>
            </span>


        </div>


        <!-- Help text here -->
        <span *ngIf="input.help" class="ui-g-1">
            <i class="fa ui-icon-info helpIcon" pTooltip="{{input.help}}" tooltipPosition="bottom"></i>
        </span>

        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.get(input.name)?.invalid && (form.get(input.name)?.dirty || form.get(input.name)?.touched || formSubmitted)">
            <div *ngIf="form.get(input.name).errors.required">
                {{input.validateRequired}}
            </div>
            <div *ngIf="form.get(input.name).errors.requiredTrue">
                {{input.validateRequiredTrue}}
            </div>
            <div *ngIf="form.get(input.name).errors.email">
                {{input.validateEmail}}
            </div>
            <div *ngIf="form.get(input.name).errors.pattern">
                {{input.validatePatternMessage}}
            </div>
            <div *ngIf="form.get(input.name).errors.minlength">
                {{input.validateMinLengthMessage}}
            </div>
            <div *ngIf="form.get(input.name).errors.maxlength">
                {{input.validateMaxLengthMessage}}
            </div>
        </div>
    </div>
    <!-- [className]="controlStyle" -->
    <div class="button-line" class="ui-g-12" *ngIf="inputBuilderDefinition.customButtonText || inputBuilderDefinition.cancelButtonText || inputBuilderDefinition.okButtonText">
        <div class="button-container" *ngIf="inputBuilderDefinition.customButtonText" >
            <button pButton type="button" (click)="onCustom()" class="ui-button-info" icon="{{inputBuilderDefinition.customButtonIcon}}"
                iconPos="left" label="{{inputBuilderDefinition.customButtonText}}"></button>
        </div>
        <div class="button-container" *ngIf="inputBuilderDefinition.cancelButtonText" >
            <button pButton type="button" (click)="onCancel()" class="ui-button-warning" icon="{{inputBuilderDefinition.cancelButtonIcon}}"
                iconPos="left" label="{{inputBuilderDefinition.cancelButtonText}}"></button>
        </div>
        <div class="button-container" *ngIf="inputBuilderDefinition.okButtonText" >
            <button pButton type="submit" class="ui-button-success" icon="{{inputBuilderDefinition.okButtonIcon}}" iconPos="left" label="{{inputBuilderDefinition.okButtonText}}"></button>
        </div>
    </div>
</form>
