@import '../../../src/assets/sass/variables';

.small-label{
    font-size: 12px;
}

.textInput{
  width: 100%;
}

.textArea{

}

.dropdownInput{

}

.helpIcon{
  color: $grayBgColor;
}

.switch-label{
  margin-left: 16px;
}

.inlineInputs{
  padding: 0px 3px 0px 0px !important;
}

.multi-select {
  width: 100%;
}

.button-line {
}
.button-container {
  display: inline;
  margin-left: 6px;
}
