.galleryHeader {
  font-size: 28px;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 18px;
  border-bottom: 1px solid grey;
}

.widgetLine{
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 8px;
}

.widgetName{
  text-align: center;
  font-size: 18px;
}
