<p-dialog title="Input Details" [(visible)]="isShown" [contentStyle]="{'overflow':'visible'}">
    <p-header>
        {{ inputBuilderDefinition?.title }}
    </p-header>
  <div class="ui-fluid">
    <div class="card ui-g-12">
      <div class="ui-g-12">
        <input-builder *ngIf="isShown" (modelUpdated)="notifyChanged($event)"
          (okClicked)="onOkClicked()" (cancelClicked)="onCancelClicked()"
          (modelUpdated)="onModelUpdated($event)"
          (valueUpdated)="onValueUpdated($event)"
          [inputBuilderDefinition]="inputBuilderDefinition"
          [inputModel]="inputModel"></input-builder>
      </div>
    </div>
  </div>
  <p>Popup</p>
</p-dialog>
