# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
build/*
/tmp
*.tgz

# dependencies
/node_modules
/projects/ngscaffolding-core/dist
/projects/ngscaffolding-core/node_modules
/projects/ngscaffolding-chart/dist
/projects/ngscaffolding-chart/node_modules
/projects/ngscaffolding-dashboard/dist
/projects/ngscaffolding-dashboard/node_modules
/projects/ngscaffolding-datagrid/dist
/projects/ngscaffolding-datagrid/node_modules
/projects/ngscaffolding-inputbuilder/dist
/projects/ngscaffolding-inputbuilder/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.tscache/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
# Version files
./src/version.ts
