@import '../../../assets/sass/_variables.scss';
.profile-icon {
  color: $textSecondaryColor !important;
}

.application-title {
  color: $secondary;
  position: relative;
  top: 12px;
  font-size: 35px;
}

