<p-card [title]="dashboard.title">
  <p-header>
    <span class="text-right">Tool Bar Here</span>
  </p-header>

  <div appFillHeight>
    <gridster [options]="options" style="width: 100%;height: 100%">
      <gridster-item [item]="widget" *ngFor="let widget of dashboard.widgets" #loopGridster>
        <h2>{{widget.title}}</h2>
        <ndc-dynamic
        [ndcDynamicInputs]="{ gridsterItem: loopGridster.item, unitHeight: widget.unitHeight }"
        (ndcDynamicCreated)="componentCreated($event)"
        [ndcDynamicComponent]="component"></ndc-dynamic>
      </gridster-item>
    </gridster>
  </div>
</p-card>
