.toolbarButton{
        border-radius: 0x !important;
        margin-left: 4px;
}
.menuContainer{
  position: relative;
  top: 100px;
}

.expand-toolbar {
  position: relative;
  right: 10px;
  float: right;
}

.mainButton {
  margin-left: 20px;
}
