<div id="gridContainer" class="card card-w-title">
  <div class="ui-g">
    <div class="ui-g-4">
      <h3>Demo #1: Highcharts with a basic editor</h3>
    </div>
    <div class="ui-g-8">
      <span>Toolbar</span>
    </div>
  </div>
</div>

<div class="card" style="height: 100%;">
  <div style="width: 100%; height: 100%;">
    <highcharts-chart
    [callbackFunction]="saveInstance()"
    [Highcharts]="Highcharts" [options]="optFromInput" [(update)]="updateFromInput" [oneToOne]=true style="width: 100%; height: 100%; display: block;"></highcharts-chart>
  </div>
</div>
