<div ngsFillHeight>
  <div class="expand-toolbar">

        <button pButton class="ui-button-danger toolbarButton" type="button" icon="ui-icon-clear" tooltipPosition="bottom"
        (click)="cancelWorkItem()" pTooltip="{{'Cancel' | translate}}">
      </button>

    <button pButton class="ui-button-success toolbarButton" type="button" icon="ui-icon-check" tooltipPosition="bottom"
    (click)="saveWorkItem()" pTooltip="{{'Save Work Item' | translate}}">
  </button>

    </div>
  <p-tabView>



  <p-tabPanel header="Work Item Details">
      <p-scrollPanel [style]="{ width: '100%', height: '600px' }">
        <ngs-input-builder
          [inputBuilderDefinition]="mainInput"
          (valueUpdated)="valueUpdated($event)"
          (modelUpdated)="modelUpdated($event)"
          (okClicked)="saveWorkItem()"
          (cancelClicked)="cancelWorkItem()"
          [inputModel]="workItem">
        </ngs-input-builder>
      </p-scrollPanel>
    </p-tabPanel>
    <p-tabPanel header="Dates">
      <ngs-input-builder
        [inputBuilderDefinition]="datesInput"
        (valueUpdated)="valueUpdated($event)"
        (modelUpdated)="modelUpdated($event)"
        (okClicked)="saveWorkItem()"
        (cancelClicked)="cancelWorkItem()"
        [inputModel]="workItem">
      </ngs-input-builder>
    </p-tabPanel>
    <p-tabPanel header="Header 3">
      Content 3
    </p-tabPanel>
  </p-tabView>
</div>

<!-- Close Confirmation -->
<p-confirmDialog appendTo="body" header="{{'Close Confirmation' | translate}}" icon="ui-icon-warning" width="425"></p-confirmDialog>
