<p-card id="gridContainer">
  <p-header>
    <div class="ui-g">
      <div class="ui-g-8">
        <span class="grid-title">{{itemDetail?.title | translate}}</span>
      </div>
      <div class="ui-g-4">
        <app-grid-toolbar
          [collapsedToolbar]="isWidget"
        (refreshClicked)="loadInitialData()" (filtersClicked)="showHideFilters()" (columnsClicked)="showHideColumns()"
          (exportClicked)="exportData()" (saveViewClicked)="saveView()" (resetViewClicked)="resetView()" (shareViewClicked)="shareView()"
          [hideLabels]='hideLabels'></app-grid-toolbar>
      </div>
    </div>
  </p-header>

  <div ngsFillHeight>
      <p-sidebar [(visible)]="dataLoading" position="top">
        <div style="text-align: center">
                    Loading
        <br/>
        <p-progressSpinner></p-progressSpinner>
      </div>
      </p-sidebar>

    <filters-holder #filtersHolder [hidden]="!showFilters" [filterDefinition]="filters" [filterValues]="filterValues" (valuesUpdated)="onFiltersUpdated($event)"></filters-holder>

      <ag-grid-angular style="width: 100%; height: 70%;" class="ag-theme-material" [rowData]="rowData" [columnDefs]="columnDefs"
        [gridOptions]="gridOptions" (selectionChanged)='onSelectionChanged($event)' (gridReady)="onGridReady($event)">
      </ag-grid-angular>

    <app-actions-holder #actionsHolder *ngIf="actions && actions.length > 0"
      (actionClicked)="actionClicked($event, null)" [actions]="actions"></app-actions-holder>

    <ngs-input-builder-popup #actionInputPopup [inputBuilderDefinition]="actionInputDefinition" [inputModel]="actionValues" (okClicked)="actionOkClicked($event)"
      (cancelCliecked)="actionCancelClicked()"></ngs-input-builder-popup>

      <p-dialog title="Input Details"
        [width]="dialogOptions.width"
        [height]="dialogOptions.height"
        [(visible)]="popupShown"
        [maximizable]="dialogOptions.maximizable" [contentStyle]="{'overflow':'auto'}"  #dialog>
        <router-outlet name="popup"></router-outlet>
      </p-dialog>

  </div>
</p-card>
