@import '../../src/assets/sass/ngScaffolding.scss';

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .landing-wrapper {
        .header {
            .header-top {
                .logo {
                    background: url("../images/logo2x.png") top left no-repeat;
                    background-size: 200px 30px;
                }
            }
        }
    }
}

.logo-custom {
  display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-top: -5px;
    background-size: 200px 30px;
}

.widgetHeader{ background-color: yellow}
