$primaryColor: #3e464c;
$primaryDarkColor: #2b3135;
$primaryLightColor: #777d81;
$accentColor: #5180ce;
$accentDarkColor: #274d8d;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;

$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #FF5722;
$lightMenuRouterLinkActiveColor: #FF5722;
$horizontalLightMenuRouterLinkActiveColor: #FF5722;

$textColor: #212121;
$textSecondaryColor: #757575;
$fontSize: 16px;
$lineHeight: 1.5em;
$borderRadius: 3px;
$headerFontSize: 1em;
$headerPadding: .625em 1em;
$contentFontSize: 1em;
$contentPadding: .625em 1em;
$inputHeaderFontSize: 1em;
$inputHeaderPadding: .625em 1em;
$inputFontSize: 1em;
$buttonFontSize: 1em;
$inputOptionFontSize: 1em;
$inputOptionPadding: .625em .875em;
$hoverBgColor: #e8e8e8;
$hoverTextColor: #000000;
$dividerColor: #bdbdbd;
$dividerLightColor: #cacaca;
$grayBgColor: #757575;
$iconFontSize: 1.5em;
$invalidInputLabelColor: #e62a10;
$invalidInputBorderColor: #e62a10;
$activeMenuItemBadgeColor: #ffffff;
$activeMenuItemBadgeTextColor: #212121;

$fontFamily: 'Roboto';

/* Compact */
$c-fontSize: 14px;
$c-lineHeight: 18px;


@import '../../src/assets/sass/_mixins';
@import '../../src/assets/sass/_fonts';
@import '../../src/assets/sass/theme/_theme.scss';

// Layouts Here
@import '../../src/assets/sass/layout/_utils';
@import '../../src/assets/sass/layout/_splash.scss';
@import '../../src/assets/sass/layout/_login.scss';
@import '../../src/assets/sass/layout/_exception.scss';
@import '../../src/assets/sass/layout/_landing.scss';
@import '../../src/assets/sass/layout/_main.scss';
@import '../../src/assets/sass/layout/_compact.scss';

@import '../../src/assets/sass/ngScaffolding.scss';

/* Digital Style Font */
@font-face {
  font-family: 'DSEG7';
  font-style: normal;
  font-weight: 400;
  src: local('DSEG7'), local('DSEG7-Regular'),
       url("../fonts/DSEG7Classic-Italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("../fonts/DSEG7Classic-Italic.woff") format('woff'), /* Modern Browsers */
       url("../fonts/DSEG7Classic-Italic.ttf") format('truetype') /* Safari, Android, iOS */
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .landing-wrapper {
        .header {
            .header-top {
                .logo {
                    background: url("../images/logo2x.png") top left no-repeat;
                    background-size: 200px 30px;
                }
            }
        }
    }
}

.widgetHeader{ background-color: yellow}
