<div class="action-container">
    <div class="ui-g">
        <p-button *ngFor="let action of actions | actions:false"
            style="margin-right: 22px;"
            [disabled]="(action.multipleTarget && selectedRowsCount < 1) || (action.selectionRequired && selectedRowsCount === 0)"
            (click)="clickHandler(action)"
            styleClass="{{action.colour | buttonColour}} action-button"
            icon="{{action.icon}}"
            iconPos="left"
            label="{{action.title | translate}}"></p-button>
    </div>
</div>
<p-confirmDialog [key]="actionsKey" header="{{'Confirmation' | translate}}" header="Confirmation" appendTo="body" icon="fa ui-icon-warning" width="425"></p-confirmDialog>
