<form novalidate *ngIf="inputBuilderDefinition && inputBuilderDefinition.inputDetails" class="ui-g form-group" (ngSubmit)="onSubmit(form)"
    [formGroup]="form">
    <div [className]="controlStyle" *ngFor="let input of inputBuilderDefinition.inputDetails">
        <div [ngSwitch]="input.type" [className]="input.containerClass">

            <!-- textbox -->
            <span *ngSwitchCase="'textbox'" class="md-inputfield">
                <input *ngIf="!input.mask" type="text" [formControlName]="input.name" [id]="input.name" pInputText>
                <label>{{input.label}}</label>
            </span>

            <!-- keyfilter -->
            <span *ngSwitchCase="'number'" class="md-inputfield">
                <input type="text" [formControlName]="input.name" [id]="input.name" pKeyFilter="num"  pInputText>
                <label>{{input.label}}</label>
            </span>

            <!-- Mask -->
            <span *ngSwitchCase="'mask'">
                <p-inputMask [mask]="input.mask" [id]="input.name" [formControl]="form.controls[input.name]"></p-inputMask>
                <label>{{input.label}}</label>
            </span>

            <!-- Mask -->
            <span *ngSwitchCase="'spinner'">
                <p-spinner [id]="input.name" [formControl]="form.controls[input.name]"></p-spinner>
                <label>{{input.label}}</label>
            </span>

            <!-- TextArea -->
            <span *ngSwitchCase="'textarea'" class="md-inputfield">
                <textarea [rows]="input.rows" [placeholder]="input.label" pInputTextarea [formControlName]="input.name" autoResize="true"></textarea>
            </span>

            <!-- Checkbox -->
            <span *ngSwitchCase="'checkbox'">
                <p-checkbox binary="true" [label]="input.label" [id]="input.name" [formControl]="form.controls[input.name]">
                </p-checkbox>
            </span>

            <!--  [filter]="input.selectFilter"
                [filterBy]="input.selectFilterBy"
                    [filterPlaceholder]="input.selectFilterPlaceholder" -->

            <!-- Simple DropDown -->
            <span *ngSwitchCase="'dropdown'">
                <label class="small-label" [for]="input.name">{{input.label}}</label>
                <p-dropdown [id]="input.name" [options]="input.datasourceItems" [autoWidth]="false" [filter]="input.selectFilter" dataKey="value"
                    optionLabel="display" [formControlName]="input.name"></p-dropdown>
            </span>

            <!-- Chips -->
            <span *ngSwitchCase="'chips'" class="md-inputfield">
                <p-chips [id]="input.name" [placeholder]="input.label" [formControlName]="input.name"></p-chips>
            </span>

            <!-- InputSwitch -->
            <span *ngSwitchCase="'switch'">
                <p-inputSwitch [id]="input.name" [formControlName]="input.name" [onLabel]="input.onLabel" [offLabel]="input.offLabel">
                </p-inputSwitch>
                <label>{{input.label}}</label>
            </span>

            <!-- DateTime -->
            <span *ngSwitchCase="'datetime'" class="md-inputfield">
                <p-calendar [showIcon]="appSettings.inputShowCalendarIcon" [dateFormat]="appSettings.inputDateTimeFormat" showTime="true"
                    [formControlName]="input.name" [id]="input.name">
                </p-calendar>
                <label>{{input.label}}</label>
            </span>

            <!-- Date -->
            <span *ngSwitchCase="'date'" class="md-inputfield">
                <p-calendar [showIcon]="appSettings.inputShowCalendarIcon" [dateFormat]="appSettings.inputDateFormat" [formControlName]="input.name"
                    [id]="input.name">
                </p-calendar>
                <label>{{input.label}}</label>
            </span>

            <!-- Time -->
            <span *ngSwitchCase="'time'" class="md-inputfield">
                <p-calendar timeOnly="true" showTime="true" [showIcon]="appSettings.inputShowCalendarIcon" [formControlName]="input.name"
                    [id]="input.name">
                </p-calendar>
                <label>{{input.label}}</label>
            </span>

            <!-- JSon Edit -->
            <span *ngSwitchCase="'json'" class="md-inputfield">
                <json-editor [options]="editorOptions" [data]="input.value"></json-editor>
                <label>{{input.label}}</label>
            </span>

            <!-- DEFUALT textbox -->
            <span *ngSwitchDefault class="md-inputfield">
                <input type="text" [formControlName]="input.name" [id]="input.name" pInputText>
                <label>{{input.label}}</label>
            </span>


        </div>


        <!-- Help text here -->
        <span *ngIf="input.help" class="ui-g-1">
            <i class="fa fa-info-circle help-icon" pTooltip="{{input.help}}" tooltipPosition="bottom"></i>
        </span>

        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.get(input.name)?.invalid && (form.get(input.name)?.dirty || form.get(input.name)?.touched)">
            <div *ngIf="form.get(input.name).errors.required">
                {{input.validateRequired}}
            </div>
            <div *ngIf="form.get(input.name).errors.requiredTrue">
                {{input.validateRequiredTrue}}
            </div>
            <div *ngIf="form.get(input.name).errors.email">
                {{input.validateEmail}}
            </div>
            <div *ngIf="form.get(input.name).errors.pattern">
                {{input.validatePatternMessage}}
            </div>
            <div *ngIf="form.get(input.name).errors.minlength">
                {{input.validateMinLengthMessage}}
            </div>
            <div *ngIf="form.get(input.name).errors.maxlength">
                {{input.validateMaxLengthMessage}}
            </div>
        </div>
    </div>
    <div [className]="" class="ui-g-12" *ngIf="inputBuilderDefinition.customButtonText || inputBuilderDefinition.cancelButtonText || inputBuilderDefinition.okButtonText">
        <div *ngIf="inputBuilderDefinition.customButtonText" class="ui-g-4">
            <button pButton type="button" (click)="onCustom()" class="ui-button-info" icon="{{inputBuilderDefinition.customButtonIcon}}"
                iconPos="left" label="{{inputBuilderDefinition.customButtonText}}"></button>
        </div>
        <div *ngIf="inputBuilderDefinition.cancelButtonText" class="ui-g-4">
            <button pButton type="button" (click)="onCancel()" class="ui-button-danger" icon="{{inputBuilderDefinition.cancelButtonIcon}}"
                iconPos="left" label="{{inputBuilderDefinition.cancelButtonText}}"></button>
        </div>
        <div *ngIf="inputBuilderDefinition.okButtonText" class="ui-g-4">
            <button pButton type="submit" class="ui-button-success" icon="{{inputBuilderDefinition.okButtonIcon}}" iconPos="left" label="{{inputBuilderDefinition.okButtonText}}"></button>
        </div>
    </div>
</form>
