<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-6 ui-md-offset-3 card card-w-title">
      <h1 class="cardTitle">{{'Change Password' | translate}}</h1>

      <div class="form-group ui-g-12">
          <form name="form" (ngSubmit)="changeForm.form.valid && changePassword()" #changeForm="ngForm" novalidate>
            <div class="ui-g-12"></div>
              <div class="ui-g-12">
                  <span class="md-inputfield">
                      <input type="password" pPassword [feedback]="false" name="currentPassword" [(ngModel)]="inputModel.currentPassword" #currentPassword="ngModel" required>
                      <label>{{'Current Password' | translate}}</label>
                      <div *ngIf="changeForm.dirty && currentPassword.touched && !currentPassword.valid" class="ui-message ui-messages-error ui-corner-all">Current Password is required</div>
                  </span>
              </div>

            <div class="ui-g-12"></div>
            <div class="ui-g-12"></div>
              <div class="ui-g-12">
                  <span class="md-inputfield">
                      <input type="password" pPassword [feedback]="false" name="newPassword" [(ngModel)]="inputModel.newPassword" (change)="checkComplexity()" #newPassword="ngModel" required>
                      <label>{{'New Password' | translate}}</label>
                      <div *ngIf="changeForm.dirty && newPassword.touched && !newPassword.valid" class="ui-message ui-messages-error ui-corner-all">New Password is required</div>

                      <div *ngIf="failComplexLength" class="ui-message ui-messages-error ui-corner-all stackedErrors">New Password must be {{minLength}} characters long</div>
                      <div *ngIf="failComplexUpperCase" class="ui-message ui-messages-error ui-corner-all stackedErrors">{{'New Password contain Upper Case characters' | translate}}</div>
                      <div *ngIf="failComplexLowerCase" class="ui-message ui-messages-error ui-corner-all stackedErrors">{{'New Password contain Lower Case characters' | translate}}</div>
                      <div *ngIf="failComplexNumerics" class="ui-message ui-messages-error ui-corner-all stackedErrors">{{'New Password contain Numbers' | translate}}</div>
                      <div *ngIf="failComplexSpecial" class="ui-message ui-messages-error ui-corner-all stackedErrors">{{'New Password contain special characters (!@#$%^&)' | translate}}</div>

                  </span>
              </div>

              <div class="ui-g-12"></div>
              <div class="ui-g-12"></div>
              <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" pPassword [feedback]="false" name="confirmPassword"
                       [(ngModel)]="inputModel.confirmPassword" #confirmPassword="ngModel" required pattern="{{ newPassword.value }}">
                    <label>{{'Confirm Password' | translate}}</label>
                    <div *ngIf="changeForm.dirty && confirmPassword.touched && confirmPassword.errors && confirmPassword.errors.required" class="ui-message ui-messages-error ui-corner-all">Confirm Password is required</div>
                    <div *ngIf="changeForm.dirty && confirmPassword.touched && confirmPassword.errors && confirmPassword.errors.pattern" class="ui-message ui-messages-error ui-corner-all"> Password & Confirm Password do not match.</div>

                </span>
            </div>

              <div class="ui-g-12"></div>
              <div class="ui-g-12"></div>
              <div class="ui-g-12">
                  <div class="ui-g-6 ui-sm-12">
                  </div>
                  <div class="ui-g-6 ui-sm-12">
                      <button pButton class="ui-button-success" type="submit" [disabled]="!changeForm.form.valid || !complexityPassed" label="Logon"></button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
