<div class="card">
    <div class="ui-g">
        <button *ngFor="let action of actions | actions:false"
            [disabled]="(action.multipleTarget && selectedRowsCount < 1) || (action.selectionRequired && selectedRowsCount === 0)"
            pButton type="button"
            (click)="clickHandler(action)"
            class="{{action.color | buttonColor}} action-button"
            icon="{{action.icon}}"
            iconPos="left"
            label="{{action.title}}"></button>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="fa ui-icon-warning" width="425"></p-confirmDialog>
