@import '../../theme/theme.scss';
.readout-holder {
  border: 2px solid #999;
  height: 100%;
  width: 100%;
  color: ghostwhite;
  background-color: black;
}

.readout-title {
  text-align: left;
    font-size: 1.5em;
    margin-bottom: 18px;
    margin-top: 6px;
    margin-left: 6px;
}
.readout-col {
  text-align: right;
}


.readout-value {
  color: goldenrod;
  font-family: 'DSEG7';
  font-size: 3em;
  margin-right: 4px;
}

.readout-unit {
  color: darkgoldenrod;
  font-family: 'DSEG7';
  font-size: 3em;
  margin-right: 0px;
}

.readout-indicator {

}
