.readout-title {
  font-size: 3em;
}
.readout-col {
  text-align: right;
}
.readout-holder {
  border: 2px solid #999;
  height: 99px;
  color: ghostwhite;
  background-color: black;
}

.readout-value {
  color: goldenrod;
  font-family: 'DSEG7';
  font-size: 4em;
  margin-right: 4px;
}

.readout-unit {
  color: darkgoldenrod;
  font-family: 'DSEG7';
  font-size: 3em;
  margin-right: 0px;
}

.readout-indicator {

}
