<span *ngIf="!splitButton">
  <button *ngFor="let action of actions | actions:true" pButton type="button" (click)="clicked(action)" class="{{action.color}}"
    icon="{{action.icon}}" iconPos="left" label="{{action.title}}"></button>
</span>

<span >
  <!-- Split button need Line-height to work Also possibly needs to be an EditorCell with Popup -->
  <p-splitButton [style]="{'line-height': '0px'}" label="Actions" appendTo="body" menuStyleClass="editorButtonMenu" styleClass="ui-button-success" [model]="splitButtonItems"></p-splitButton>
</span>
