<!--
    <highcharts-chart
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="highChartsOptions"
      [callbackFunction]="chartCallback"

      [(update)]="updateFlag"
      [oneToOne]="oneToOneFlag"
      [runOutsideAngular]="runOutsideAngularFlag"
      style="width: 100%; display: block;">
    </highcharts-chart> -->

    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="highChartsOptions"
      [callbackFunction] ="chartCallback"
      [(update)]="updateChartFlag"
      style="width: 100%; display: block;">
    </highcharts-chart>

