<p-progressSpinner class="loading-indicator" *ngIf="dataLoading"></p-progressSpinner>
<div class="flex-container fullHeight">
    <div *ngIf="!itemDetails?.isDataIsland" class="flex-headerBar">
        <div class="p-grid">
            <div class="p-col">
                <span class="grid-title">{{ itemDetails?.title | translate }}</span>
            </div>
            <div class="p-col">
                <app-grid-toolbar
                    [collapsedToolbar]="isWidget"
                    (refreshClicked)="loadInitialData()"
                    (filtersClicked)="showHideFilters()"
                    (columnsClicked)="showHideColumns()"
                    (exportClicked)="exportData()"
                    (saveViewClicked)="saveView()"
                    (resetViewClicked)="resetView()"
                    (shareViewClicked)="shareView()"
                    [hideFilters]="hideFiltersButton"
                    [hideLabels]="hideLabels"
                ></app-grid-toolbar>
            </div>
        </div>
    </div>

    <filters-holder
        class="flex-headerBar"
        #filtersHolder
        [hidden]="!showFilters"
        [filterDefinition]="filters"
        [filterValues]="filterValues"
        (valuesUpdated)="onFiltersUpdated($event)"
    ></filters-holder>

    <div class="flex-fillContent">
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            [className]="gridThemeName"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [gridOptions]="gridOptions"
            (selectionChanged)="onSelectionChanged()"
            (gridReady)="onGridReady()"
            (firstDataRendered)="onFirstDataRendered($event)"
        >
        </ag-grid-angular>
    </div>

    <app-actions-holder
        class="flex-footerBar"
        #actionsHolder
        *ngIf="actions && actions.length > 0"
        (actionClicked)="actionClicked($event, null)"
        [actionsKey]="itemDetails.title"
        [actions]="actions"
    ></app-actions-holder>
</div>

<ngs-input-builder-popup
    #actionInputPopup
    [inputBuilderDefinition]="actionInputDefinition"
    [inputModel]="actionValues"
    (okClicked)="actionOkClicked($event)"
    (cancelCliecked)="actionCancelClicked()"
></ngs-input-builder-popup>

<p-dialog
    [width]="dialogOptions.width"
    [height]="dialogOptions.height"
    [(visible)]="popupShown"
    (onHide)="popupHidden()"
    [closable]="dialogOptions.closable"
    [maximizable]="dialogOptions.maximizable"
    [contentStyle]="{ 'max-height': dialogOptions.height - 80 + 'px', overflow: 'auto' }"
>
    <div id="popupContent" #dialog></div>
</p-dialog>
