.footerHolder {
    width: 100%;
    position: absolute;
    bottom: 6px;

    p-button {
        float: right;
        margin-right: 12px;
    }
}
.ui-button {
    background-color: transparent !important;
}
