<div class="ui-fluid">
    <div class="card ui-g-12">
        <div class="ui-g-12">
            <h3>Input Builder Sample</h3>
            <ngs-input-builder
            (modelUpdated)="notifyChanged($event)"
            [inputBuilderDefinition]="inputDefinition1"
            [inputModel]="inputModel1"></ngs-input-builder>
        </div>
    </div>
</div>

<h2>Inline Input Row</h2>
<div class="ui-fluid">
    <div class="card ui-g-12">
        <div class="ui-g-2">
          <h4>Left Content</h4>
        </div>
        <div class="ui-g-8">
            <ngs-input-builder
            (modelUpdated)="notifyChanged($event)"
            [inputBuilderDefinition]="inputDefInline"
            [inputModel]="inputModel1"></ngs-input-builder>
        </div>
        <div class="ui-g-2">
            <h4>Right Content</h4>
          </div>
    </div>
</div>
