<p-card id="gridContainer">
  <p-header>
    <div class="ui-g">
      <div class="ui-g-8">
        <span class="grid-title">{{itemDetail.title}}</span>
      </div>
      <div class="ui-g-4">
        <app-grid-toolbar
          [collapsedToolbar]="isWidget"
        (refreshClicked)="loadInitialData()" (filtersClicked)="showHideFilters()" (columnsClicked)="showHideColumns()"
          (exportClicked)="exportData()" (saveViewClicked)="saveView()" (resetViewClicked)="resetView()" (shareViewClicked)="shareView()"
          [hideLabels]='hideLabels'></app-grid-toolbar>
      </div>
    </div>
  </p-header>

  <div appFillHeight>
    <filters-holder #filtersHolder [hidden]="!showFilters" [filterDefinition]="filters" [filterValues]="filterValues" (valuesUpdated)="onFiltersUpdated($event)"></filters-holder>

      <ag-grid-angular style="width: 100%; height: 70%;" class="ag-theme-material" [rowData]="rowData" [columnDefs]="columnDefs"
        [gridOptions]="gridOptions" (selectionChanged)='onSelectionChanged($event)' (gridReady)="onGridReady($event)">
      </ag-grid-angular>

    <app-actions-holder #actionsHolder *ngIf="actions && actions.length > 0" (actionClicked)="actionClicked($event)" [actions]="actions"></app-actions-holder>
    <app-input-builder-popup #actionInputPopup [inputBuilderDefinition]="actionInputDefinition" [inputModel]="actionValues" (okClicked)="actionOkClicked($event)"
      (cancelCliecked)="actionCancelClicked()"></app-input-builder-popup>
  </div>
