.toolbarButton{
        border-radius: 0x !important;
}
.menuContainer{
  position: relative;
  top: 100px;
}

.expand-toolbar {
  position: relative;
  top: 10px;
  float: right;
}

.mainButton {
  margin-left: 20px;
}
