.spinner-container {
  background: $hoverBgColor;
  min-width: 200px;
  margin: 20px;
  position: absolute;
  z-index: 999915;
  top: 50%;
  left: 50%;

  .spinner-spinner {
    margin-top: 50px;
    margin-left: 50px;
    width: 100px;
  }
  .spinner-message {
    margin: 20px;
  }
}
