<div *ngIf="loadingData">
  <h2>{{'Loading' | translate }}...</h2>
  <p-progressSpinner></p-progressSpinner>
</div>

<p-sidebar [(visible)]="galleryShown" position="right">
  <ngs-gallery [galleryName]="dashboard?.galleryName" (addWidget)="onAddWidget($event)"></ngs-gallery>
</p-sidebar>

<p-card *ngIf="!loadingData">
  <p-header styleClass="dashHeader">
    <div class="headerLine">
      <span class="dashHeader"><ngs-editable-title [readOnly]="dashboard.readOnly" [title]="dashboard.title" (titleChanged)="onTitleChanged($event)" ></ngs-editable-title></span>
      <span class="text-right">
        <ngs-dashboard-toolbar
          [showAdd]="showAdd" [showDelete]="showDelete" [showSave]="showSave" [showSaveAs]="showSaveAs" [showShare]="showShare"
          (toolbarClicked)="onToolbarClicked($event)"></ngs-dashboard-toolbar></span>
    </div>
  </p-header>

  <div ngsFillHeight>
    <div style="width: 100%;" ngsFillHeight>
      <gridster [options]="options">
        <gridster-item [item]="widget" *ngFor="let widget of dashboard.widgets" #loopGridster>
          <ngs-widget-container (widgetEvent)="onWidgetEvent($event, widget, component.componentRef.instance)" [widgetDetails]="widget" [IsReadOnly]="dashboard.readOnly">
            <ndc-dynamic
              [ndcDynamicInputs]="{
                itemDetails: widget.widget.itemDetails,
                widget: widget,
                isWidget: true,
                gridsterItem: loopGridster.item,
                unitHeight: widget.unitHeight,
                unitWidth: widget.unitWidth,
                unitUpdate: widget.unitUpdate
              }"
              (ndcDynamicCreated)="componentCreated($event)"
              [ndcDynamicComponent]="getComponent(widget)" #component></ndc-dynamic>
          </ngs-widget-container>
        </gridster-item>
      </gridster>
    </div>
  </div>
</p-card>

<!-- Input Details for Widget -->
<ngs-input-builder-popup #actionInputPopup [inputBuilderDefinition]="actionInputDefinition" [inputModel]="actionValues" (okClicked)="actionOkClicked($event)"
(cancelCliecked)="actionCancelClicked()"></ngs-input-builder-popup>

<!-- Save As Dialog -->
<p-dialog title="Input Details" [(visible)]="saveShown" [contentStyle]="{'overflow':'visible'}">
    <p-header>
        {{ 'Save As' | translate }}
    </p-header>
  <div class="ui-fluid">
    <div class="card ui-g-12">
      <div class="ui-g-12">
        <ngs-save-input [menuDetails]="menuItem" [isShareDialog]="isShareDialog"
          (saveMenu)="onSaveMenu($event)">
        </ngs-save-input>
      </div>
    </div>
  </div>
</p-dialog>

<!-- Delete Confirmation -->
<p-confirmDialog header="{{'Delete Confirmation' | translate}}" icon="ui-icon-warning" width="425"></p-confirmDialog>
