@import './variables';

.help-icon {
    font-size: 28px;
    }


.modal-title{
  color: $textColor;
  font-size: 1.9em;
  margin-left: 22px;
  margin-top: 0px;
}
.modal-subTitle{

}
.modal-footer{

}

.card-w-title h1{
  margin-left: 16px;
  margin-top: 16px;

  font-weight: 600;
}
